body {
    margin: 0;
}

::-webkit-scrollbar {width: 10px;position: absolute;}
::-webkit-scrollbar-thumb {background-color: #1890ff;border-radius: 5px;}
::-webkit-scrollbar-thumb:hover {background: #2870ff;}